
config interface 'loopback'
	option device 'lo'
	option proto 'static'
	option ipaddr '127.0.0.1'
	option netmask '255.0.0.0'

config globals 'globals'
	option ula_prefix 'fd7b:4470:7af1::/48'

config device
	option name 'br-lan'
	option type 'bridge'
	list ports 'lan1'
	list ports 'lan2'
	list ports 'lan3'

config device
	option name 'lan1'
	option macaddr '1a:10:96:71:bf:2e'

config device
	option name 'lan2'
	option macaddr '1a:10:96:71:bf:2e'

config device
	option name 'lan3'
	option macaddr '1a:10:96:71:bf:2e'

config interface 'lan'
	option device 'br-lan'
	option proto 'static'
	option ipaddr '192.168.66.1'
	option netmask '255.255.255.0'
	option ip6assign '60'

config device
	option name 'eth1'
	option macaddr '1a:10:96:71:bf:2f'

config interface 'wan'
	option device 'eth1'
	option proto 'dhcp'

config interface 'wan6'
	option device 'eth1'
	option proto 'dhcpv6'

config interface 'docker'
	option device 'docker0'
	option proto 'none'
	option auto '0'

config device
	option type 'bridge'
	option name 'docker0'

config interface 'BLUE4WAN'
	option ifname 'BLUE4'
	option proto 'dhcp'

config interface 'BLUE4WANV6'
	option ifname 'BLUE4'
	option proto 'dhcpv6'

